:root {
    --beige: #fff4e3;
    --light-brown: #e6d5c1;
    --medium-brown: #c6b299;
    --brown: #785d56;
    --red: #be4c54;
    --white: #FFFFFF;
    --extra-light-brown: #FFF4E3;
}

body {
    background-color: var(--extra-light-brown);
}

.pagina-pesquisa {
    padding: 20px;
}

.barra-pesquisa-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

#barrapesquisa {
    width: 30vw;
    height: 40px;
    background-color: #d9d9d9;
    border: none;
    border-radius: 10px;
    padding-left: 15px;
    font-size: 16px;
}

.botao-pesquisa {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.livros-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 20px;
}

.livro-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.livro-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

.livro-titulo {
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
}

.livro-autor {
    margin-top: 5px;
    color: var(--brown);
    font-size: 12px;
    text-align: center;
}
