:root {
    --beige: #fff4e3;
    --light-brown: #e6d5c1;
    --medium-brown: #c6b299;
    --brown: #785d56;
    --red: #be4c54;
    --white: #FFFFFF;
    --extra-light-brown: #FFF4E3;
    ---gray-light: #d9d9d9;
}

body {
    background-color: var(--extra-light-brown);
}

.pagina-pesquisa {
    padding: 20px;
}

.barra-pesquisa-container {
    display: flex;
    align-items: center;
    background-color: var(---gray-light);
    width: 33vw;
    gap: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
}

#barrapesquisa {
    width: 30vw;
    height: 40px;
    background-color: var(---gray-light);
    border: none;
    border-radius: 10px;
    padding-left: 15px;
    font-size: 16px;
    outline: none;
}


.livros-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height:70vh ;
    overflow-y: auto;
    padding-right: 10px;
    gap: 20px;
    
}

.livro-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    width: 150px;
    border-radius: 10px;
    
}

.livro-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.livro-titulo {
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
}

.livro-autor {
    margin-top: 5px;
    color: var(--brown);
    font-size: 12px;
    text-align: center;
}

button{
    border: none;
    background-color: var(---gray-light);
    cursor: pointer;
}
