#main3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

}

#questionario{
    border-radius: 40px;
    background-color: var(--white);
    width: 80%;
    height: 90vh;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--medium-brown);


}

#box1{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 55%;
}

#box3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 100%;
}

#box2{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    height: 45%;
    
}

#box4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 100%;
    /* height: 50%; */
}

#campoImagem{
    background-color: var(--light-gray);
    width: 60%;
    height: 250px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

input, select{
    border-radius: 10px;
    border: 0;
    background-color: var(--light-gray);
    width: 80%;
    height: 30px;
}

#boxAddCapa{
    border: 1px solid black;
    border-radius: 10px;
    width: 55%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#textoAddCapa{
    margin: 5px;
}