#main1{
    display: flex;
    flex-direction: column;
    height: 100%;

}

.pagina-pesquisa {
    padding: 20px;
}

.barra-pesquisa-container {
    display: flex;
    align-items: center;
    background-color: var(---gray-light);
    width: 50%;
    gap: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
}

#barrapesquisa {
    width: 50%;
    height: 40px;
    background-color: var(---gray-light);
    border: none;
    border-radius: 40px;
    padding-left: 15px;
    font-size: 16px;
    outline: none;
}

#classificacaoLivro{
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid var(--brown);
    width: 100%;
}

#bk{
    width: 80%;
    margin-bottom: 10px;
}

#edit, #del{
    width: 10%;
}

#listaLivros{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.item1{
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid var(--brown);
    height: 250px;
}

#informacoesLivro{
    margin-top: 20px;

    width: 50%;
    height: 100%;
}

#botoes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 25%;
}

#imge{
    height: 100%;
    width: 25%;
}

#botaoEditar{
    width: 45px;
    height: 45px;
    border-radius: 8px;
    background-color: var(--red);
}

#botaoExcluir{
    width: 45px;
    height: 45px;
    border-radius: 8px;
    background-color: var(--brown);

}

.iconeEdit{
    color: var(--white);
    stroke: 2;
}

#dadosLivro{
    margin-left: 0;
}