:root {
    --beige: #fff4e3;
    --light-brown: #e6d5c1;
    --medium-brown: #c6b299;
    --brown: #785d56;
    --red: #be4c54;
    --white: #ffffff;
    --gray-light: #d9d9d9;
}

/* EMPRÉSTIMO */
.pagina-emprestimo {
    
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}

.abas {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.aba {
    background-color: var(--light-brown);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    color: var(--brown);
    transition: 0.3s;
}

.aba:hover {
    background-color: var(--medium-brown);
}

.aba.ativa {
    background-color: var(--white);
    color: var(--brown);
    border-bottom: 2px solid var(--white);
}

.box-historico {
    background-color: var(--beige);
    padding: 20px;
    border-radius: 10px;
    color: var(--brown);
    font-weight: bold;
}

h2 {
    color: var(--brown);
    padding-top: 70px;
    padding-left: 80px;
}

.pagina-emprestimo {
    padding: 10px;
}

.box-marrom {
    background-color: var(--brown);
    /* margin: 40px auto; Centralizar */
    border-radius: 10px;
    padding-left: 100px;
    padding: 10px;
    max-width: 600px;
    height: 65vh;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1); /* Sombra leve para dar destaque */
}

.box-status {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
}

.forms {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
}

.forms label {
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--beige);
}

.forms input[type="text"] {
    padding: 10px;
    border: none;
    background-color: var(--white);
    border-radius: 5px;
    width: 100%; 
    outline: none;
}

.forms h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: var(--beige);
}

.perfil-check {
    display: flex;
    gap: 20px;
    margin-bottom: 5px;
}

.perfil-check input [type="checkbox"] {
    border-radius: 50%;
    appearance: none;
    
    
    

}

.perfil-check label {
    font-weight: normal;
    text-align: center;
    
}

.buttons {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    justify-content: center; 
    
    
}

.um{
    background-color: var(--red);
    color: var(--white);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    height: 50px;
    width: 100px;
}

.dois{
    background-color: var(--red);
    color: var(--white);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100px;
}

.um:hover {
    background-color: var(--medium-brown);
}

.dois:hover{
    background-color:var(--medium-brown) ;
}

.imglivro {
    margin-left: 40px;
    
}

.imglivro img {
    height: 297px;
    width: 198px;
    object-fit: cover;
    border-radius: 8px;
}

/* HISTÓRICO */

#barrapesquisa{
    width: 30vw;
    height: 20px;
    background-color: var(---gray-light);
    border: none;
    border-radius: 10px;
    padding-left: 15px;
    font-size: 16px;
    outline: none;
}

.barra-pesquisa-container {
    display: flex;
    align-items: center;
    background-color: var(---gray-light);
    gap: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
    
}


  
  .historico-table {
    display: flex;
    gap: 5px;
    width: 100%;
    border-collapse: collapse;
  }
  
  .historico-table thead {
    background-color: #b49e7a; 
  }
  
  .historico-table th, .historico-table td {
    padding: 12px;
    text-align: left;
    font-size: 16px;
  }
  
  .historico-table tbody tr {
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
  }
  
  .historico-table tbody tr td {
    background-color: white;
  }